<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add an Assignment Form</title>
</head>
<body>
    <h1>Add an Assignment</h1>
    </br>
    <form action="/" method="POST"
    >
    Assignment Name: <input type="name" name="name" value="name">
    Your Score: <input type="number">
    Total Possible Score:<input type="number">
    Have you completed this assignment? <input type="checkbox">
    <input type="submit">Add</input>
    <a href="/">Never Mind</a>
    </form>
 
</body>
</html>