<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment Added</title>
</head>
<body>
    <h1>Assignment Added</h1>
    <!-- This assignment was added -->
    <h2>This assignment was added.</h2>
    <p>Name: {{something.name}}</p>
    <p>Score: {{something.number}}</p>
    <p>Total: {{something.number}}</p>
    <p>Completed: {{completed}}</p>
    <nav>
        <a href="/">See all assignments</a>
    </nav>
</body>
</html>