<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Assignments</h1>
    <table>
        <thead>
            <tr>
                <th>Assignment</th>
                <th>Score</th>
                <th>Total</th>
                <th>Completed</th>
                <th>Actions </th>
            </tr>
        </thead>
        <tbody>
            {{#each Assignment}}
            <tr>
                <td>{{assignment}}</td>
                <td>{{score}}</td>
                <td> <input type="checkbox" name="checkbox">completed</td>
                <td> <a href="/delete">Delete</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <h2>Overall Average: {{overallNumber}}%</h2>
    <p>
        <a href="/add">Add an Assignment</a>
    </p>
</body>
</html>