<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Assignments</h1>
    <table>
        <h2>Assignments: {{assignments}}</h2>
        <h2>Score: {{score}}</h2>
        <h2>Total {{number}}</h2>
        <h2>Completed </h2>
        <h2>Actions <a href="deleted">Delete</a></h2>
    </table>
    </br>
    <h2>Overall Average: {{overallNumber}}%</h2>
    <nav>
        <a href="">Add an Assignment</a>
    </nav>
</body>
</html>